{{ define "main" }}
  <section class="list-page">
    {{ .Content }}

    <ul class="post-list" aria-label="Pages">
      {{ range .Pages.ByDate.Reverse }}
      <li class="post-item">
        <a class="post-card" href="{{ .RelPermalink }}">
          <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "2006-01-02" }}
          </time>
          <span class="post-title">{{ .Title }}</span>
        </a>
      </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
