name: Deploy Hugo site
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_ENVIRONMENT: production
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.154.5'  # Match your local version
          extended: true
      - name: Build
        run: |
          rm -rf public/ resources/ .hugo_build.lock
          hugo --minify --cleanDestinationDir --baseURL "https://awwfensive.site/" --environment production
          touch public/.nojekyll
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          cname: awwfensive.site
          force_orphan: true